$primary: #239F5B;
$nextprimary:#2A9F23;
$bgcolor: #F5F5F5;
$link: gray;
$link-light: #aaa;
$line: #CCCCCC;
$line-light: #e8e8e8;
$text: #666;
$text-label: #8C8C8C;
$text-light: #aaa;
$text-highlight: #333;
$nav-title:#101010;
$type-title: #FA8C16;
$light-text: #999999;
$chip-border-color: #DDDDDD;
$holder-color: #999999;
