$primary: #389e0d;
$bgcolor: #f7f7f7;
$link: gray;
$link-light: #aaa;
$line: #CCCCCC;
$line-light: #e8e8e8;
$text: #666;
$text-label: #8C8C8C;
$text-light: #aaa;
$text-highlight: #333;
$nav-title:#101010;
