@import "helper";

body {
  font-family: 'Microsoft YaHei', 微软雅黑, 黑体, "PingFang SC", sans-serif !important;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
  display: inherit;

  &:hover, &:active, &:focus {
    color: none;
    text-decoration: none;
  }

  &.link {
    color: $primary;
    &:hover, &:active, &:focus {
      color: darken($primary, 10%);
      text-decoration: underline;
    }

    .material-icons {
      font-size: 18px;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
}
.card {
  margin-bottom: 0px;
  padding: 0px 15px;
  min-height: 160px;
}
.back-a{
  line-height: 34px;
  .back-left{
    min-width: auto !important;
    line-height: 34px;
    .q-icon, .q-icon.material-icons{
      font-size: 30px;
    }
  }
}

.login-input {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 8px 20px;
  margin-top: 25px;
  color: black;
  font-size: 16px;
}
a:focus {
  text-decoration: none;
}
.login-btn {
  background-color:$primary;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}
input:not(.no-style):hover {
  border-bottom: none;
}
.q-if:before,
.q-if:after {
  background: none;
}
.q-if-error{
  border: 1px solid red !important;
  margin-bottom: 0px !important;
}
.hover {
  padding-bottom: 10px;
  border-bottom: solid 2px $primary;
  font-weight: bold;
}
.header,
.fix{
  background-color: #f7f7f7 !important;
  padding: 0px;
  z-index: 100;
}
.no-info{
  min-width: 45px;
}
.fix {
  text-align: center;
  font-size: 14px;
  color: #101010 !important;
  border-bottom: 1px solid #dcdcdc;
  top: 0;
  z-index: 100;
  position: fixed;
}
.header-title {
  color: $nav-title;
  text-align: center;
}
.fix-header{
  background-color: #FEFCEC;
  height: 36px;
    line-height: 36px;
    padding: 0px 26px;
    color: $primary;
    font-size: 14px;
    width: 100%;
    .delete-btn .q-item-icon{
      color: $primary;
      font-size: 18px;
    }
}
.footer {
  background-color:  $bgcolor !important;
  padding: 0px;
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  max-height: 63px;
}
.footer .menu {
  background-color: $bgcolor !important;
  z-index: 100;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  color: #999999;
}
.bg-primary{
  background:  $bgcolor !important;
}
.active{
  color: $primary !important;
}
.q-tabs-position-top .q-tabs-bar{
  color:$bgcolor !important;
}
.bg-color{
  background-color:  $bgcolor;
}
.underline {
  border-bottom: 1px solid #cccccc;
}
.btn {
  background-color: $primary;
  color: white;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
}
.nav-title {
  height: 95px;
  text-align: center;
  width: 100%;
  color: #101010;
  background: white;
  font-size: 14px;
  span {
    margin-right: 50px;
    padding-top: 20px;
    display: inline-block;
  }
}
.top-nav-left{
  padding-left: 15px;
}
.top-nav-right{
  padding-right: 15px;
}
.q-if-inner{
  padding-bottom: 0px !important;
}
.show-qr {
  border: 1px solid #bbbbbb;
  box-shadow: none;
  background-color: white;
  min-height: auto;
}
.q-item{
  padding-top: 15px;
}
.q-chip {
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid lightgray;
  background: none;
  border-radius: 6px;
}
.img-close {
  margin-left: 70px;
  margin-top: -195px;
  font-size: 28px;
}
.top-btn {
  display: inline-block;
  background: $primary;
  color: white;
  padding: 5px 12px;
  border-radius: 3px;
}